.hqt-table {
    background: transparent !important;
}

.hqt-table [role="row"] {
    background: inherit !important;
}

.hqt-header {
    font-weight: 800;
    cursor: pointer;
}

.hqt-positive {
    color: rgb(13, 204, 93);
}

.hqt-negative {
    color: rgb(233, 23, 76);
}

.hqt-left-padding {
    padding-left: 50px !important;
}