.hqt-table {
    background: transparent !important;
}

.hqt-table [role="row"] {
    background: inherit !important;
    height: 55px;
}

.hqt-header {
    font-weight: 800;
    cursor: pointer;
}

.hqt-positive {
    color: rgb(13, 204, 93);
}

.hqt-negative {
    color: rgb(233, 23, 76);
}

.hqt-left-padding {
    padding-left: 20px !important;
}

.hqt-table .ui-table__row .ui-table__cell:nth-child(1) {
    max-width: 15%;
}

.hqt-table .ui-table__row .ui-table__cell:nth-child(2),
.hqt-table .ui-table__row .ui-table__cell:nth-child(6) {
    min-width: 18%;
    max-width: 18%;
}

.hqt-table .ui-table__row .ui-table__cell:nth-child(8) {
    max-width: 8%;
}

.hqt-table .ui-table__row .ui-table__cell:nth-child(9) {
    max-width: 10%;
}

.hqt-table .ui-table__row .ui-table__cell:nth-child(3),
.hqt-table .ui-table__row .ui-table__cell:nth-child(4) {
    max-width: 5%;
}