.filters-container {
    padding: 10px 0;
    padding-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0px 8px 5px #0000001a;
}

.fil-select-l>.ui-dropdown {
    background: #fff;
    padding-left: 10px;
}

.fil-select-d>.ui-dropdown {
    background: #141414;
    padding-left: 10px;
}

.fil-select-c>.ui-dropdown {
    background: #000;
    padding-left: 10px;
}

.fil-between {
    display: flex;
}

.fil-select-l:first-child,
.fil-select-d:first-child,
.fil-select-c:first-child {
    margin-right: 12px;
}