.tf-content {
    margin-top: 25px;
}

.tf-content label {
    font-weight: 600;
    margin-bottom: 10px;
}

.tf-content label::after {
    content: "";
}

.tf-content>*>.ui-box,
.tf-content .ui-form__dropdown {
    margin-bottom: 18px;
}

.ui-dialog__footer {
    margin-top: 18px;
}

.tf-dm {
    margin-bottom: 20% !important;
}

.tf-people .ui-list {
    max-height: 10rem !important;
}

.d2-icon {
    opacity: 0;
}