table {
    border-collapse: collapse;
    width: 100%;
}

.table-row {
    border-bottom: solid 1px #d0d0d0;
}

td {
    padding: 20px 0;
    text-align: center;
}

tr td:first-child {
    padding-left: 50px;
    text-align: left;
}