.filters-container {
    padding: 10px 0;
    padding-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0px 8px 5px #0000001a;
}

.fil-select-l>.ui-dropdown {
    background: #fff;
    padding-left: 10px;
    border-radius: 4px;
}

.fil-select-d>.ui-dropdown,
.fil-select-c>.ui-dropdown {
    background: #2d2c2c;
    padding-left: 10px;
    border-radius: 4px;
}

.fil-between {
    display: flex;
}

.fil-select-l:first-child,
.fil-select-d:first-child,
.fil-select-c:first-child {
    margin-right: 12px;
}

.fil-date-picker-l .ui-input__input {
    background: #fff !important;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fil-date-picker-d .ui-input__input {
    background: #2d2c2c !important;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fil-date-picker-c .ui-input__input {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fil-date-picker-l .ui-button,
.fil-date-picker-d .ui-button,
.fil-date-picker-c .ui-button {
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: unset;
}