.d-none {
    display: none !important;
}

.fld-menu {
    margin-top: 10px !important;
    border-bottom: solid 2px transparent !important;
}

.fld-menu .ui-menu__itemwrapper {
    padding-bottom: 7px;
    padding-left: 0;
    margin-right: 35px;
}

.fld-menu .ui-menu__itemwrapper .ui-menu__item {
    padding-bottom: 7px;
}

.fld-menu .ui-menu__itemwrapper .ui-menu__item:hover {
    border-bottom: solid 2px;
}

.fld-menu .ui-menu__itemwrapper .ui-menu__item[aria-selected="true"] {
    border-bottom: solid 2px;
}

.fld-content {
    margin-bottom: 40px;
}

.crs-label {
    margin-bottom: 5px;
}

.crs-item {
    margin-top: 20px;
    margin-bottom: 15px;
}

.vwa-table {
    margin-top: 20px !important;
}

.vwa-table .ui-table__row {
    border: unset !important;
    height: 2rem !important;
}

.vwa-table .ui-table__row .ui-table__cell:first-child {
    min-width: 40%;
}

.vwa-table .ui-table__row .ui-table__cell:nth-child(2) {
    max-width: 20%;
}

.vwa-table .ui-table__header {
    font-weight: 800;
}